{% extends 'basefront.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
  <!-- Your content goes here -->
  <div class="container">
    <h1>Welcome to Your Website</h1>
    <p>This is your home page content.</p>
  </div>
{% endblock %}