<form method="post" action="{{ path('app_vehicule_delete', {'num_v': vehicule.numV}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vehicule.numV) }}">
    <button class="submit-button">Delete</button>
</form>
