<form method="post" action="{{ path('app_transport_delete', {'num_t': transport.numT}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ transport.numT) }}">
    <button type="submit" class="submit-button">Delete</button>
</form>
